<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twi-Loc</title>
    <link rel="stylesheet" href="/static/home/home_style.css">
</head>

<body>
    <nav>
        <div class="nav-content">
            <a href="/home" class="brand-name">Twi-loc</a>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/input">Get Tweets</a></li>
                <li><a href="/logout">Log-out</a></li>
            </ul>
        </div>
    </nav>
    <div class="info-box">
        <h1>Welcome to Twi-Loc</h1>
        <p>Our project harnesses the power of machine learning to predict the geographical locations of Twitter users
            based on the hashtags they employ in their tweets. Twitter, as a vast reservoir of real-time information,
            presents a unique opportunity to explore how users engage with various topics across different regions. By
            leveraging this data, we aim to discern patterns and associations between specific hashtags and geographic
            locations.

            The methodology involves collecting a substantial dataset of tweets, each tagged with location information
            or geotagged. From this corpus, we extract features such as the frequency and distribution of hashtags, the
            language used, time of posting, and potentially other metadata like user profile information. These features
            serve as input to our machine learning model.

            We employ techniques such as natural language processing (NLP) to analyze the textual content of tweets and
            geographical clustering algorithms to identify regions where certain hashtags are more prevalent. Through a
            process of training and validation, our model learns to recognize correlations between specific hashtags and
            geographic locations.

            The significance of this project extends across various domains. For instance, it can enable targeted
            marketing campaigns by understanding regional interests and trends. It could also aid in disaster response
            efforts by quickly identifying areas discussing relevant topics. Furthermore, it offers insights into
            cultural differences and online discourse patterns worldwide.

            Ultimately, our endeavor seeks to unveil the intricate relationship between digital communication patterns
            and physical locations, shedding light on how online activities reflect and influence the real world.</p>
    </div>
    <footer class="footer-distributed">

        <div class="footer-left">
            <h3>Twi-Loc: <span>Location Based Analysis</span></h3>


            <p class="footer-company-name">
                Copyright &copy; 2024 Twi-Loc. All rights reserved
            </p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>PCE</span>
                    Nagpur</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+91 88***2**65</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a class="mail" href="mailto:twiloc2024@gmail.com">twiloc2024@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <!-- <span>About the company</span> -->
            <p><strong>About the Project</strong></p>
            <strong>Twi-Loc:</strong> is a
            Twitter user location prediction project uses machine learning to infer users' geographic locations based on
            their tweets hashtags and profile data.
            </p>
            <!-- <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div> -->
        </div>
    </footer>


</body>

</html>