<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login/style/input_style.css">
    <title>Get Tweets</title>
</head>

<body>
    <nav>
        <div class="nav-content">
            <a href="#" class="brand-name">Twi-Loc</a>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/input">Get Tweets</a></li>
                <!-- <li><a href="#about">About Us</a></li> -->
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1>Enter a Tweet Hashtag</h1>
        <form action="/results" method="post">
            <input type="text" name="hashtag" placeholder="Enter hashtag...">
            <button type="submit">Get tweets</button>
        </form>
    </div>
    <div class="loading-screen" id="loading-screen"></div>
    <!-- Loading animation -->
    <div class="loading" id="loading">
        <img src="/static/loading.gif" alt="Loading...">
    </div>
    <script>
        // Show loading animation and light screen on form submit
        document.querySelector('form').addEventListener('submit', function () {
            document.getElementById('loading').style.display = 'block';
            document.getElementById('loading-screen').style.display = 'block';
        });
    </script>

    <script src="/static/login/js/script.js"></script>
</body>

</html>