<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twi-Loc: Welcome</title>
    <link rel="stylesheet" href="/static/welcome/style/welcome_style.css">
</head>
<body>
    <nav>
        <div class="nav-content">
            <a href="/" class="brand-name">Twi-Loc</a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Sign-in</a></li>
            </ul>
        </div>
    </nav>

    <div class="main-content">
        <header class="main-header">
            <h1 id="welcome-text">Welcome to <span id="dynamic-text"></span></h1>
            <p>Explore geolocation predictions based on Twitter data.</p>
        </header>        
    </div>

    <footer class="footer-distributed">
        <div class="footer-left">
            <h3>Twi-Loc: <span>Location Based Analysis</span></h3>
            <p class="footer-company-name">Copyright &copy; 2024 Twi-Loc. All rights reserved</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>PCE</span> Nagpur</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>+91 88***2**65</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a class="mail" href="mailto:twiloc2024@gmail.com">twiloc2024@gmail.com</a></p>
            </div>
        </div>

        <div class="footer-right">
            <p class="footer-company-about">
                <strong>About the Project</strong><br>
                Twi-Loc is a Twitter user location prediction project that uses machine learning to infer users' geographic locations based on their tweets, hashtags, and profile data.
            </p>
        </div>
    </footer>

    <script src="/static/welcome/js/welcome_scripts.js"></script>
</body>
</html>
